<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="email" type="text" label="30500"/>
    <setting id="include_old" type="bool" label="30501" default="false"/>
    <setting id="addon_debug" type="bool" label="Addon Debug" visible="false" default="false"/>
    <setting id="email_prompt" type="bool" visible="false" default="false"/>
    <setting label="Uploaders" type="lsep"/>
    <setting id="enable_tvaddons" type="bool" label="Enable TVAddons" default="true"/>
    <setting id="enable_dropbox" type="bool" label="Enable Dropbox" default="true"/>
    <setting id="enable_pastebin" type="bool" label="Enable Pastebin" default="true"/>
    <setting id="enable_pastie" type="bool" label="Enable Pastie" default="true"/>
</settings>
